body {
  font-family: Oswald, sans-serif !important;
}

.flex-context {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  position: relative;
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

//=======================
// Sprite
//=======================
$sprite_url: url(./img/sprite.svg);
$sprite_width: 521px;
$sprite_height: 202px;

//=========================================
//  Шрифты
//=========================================

@mixin font_default() {
  font-family: "Open Sans Condensed", Helvetica, sans-serif;
  font-display: auto;
}

@mixin font_bebas() {
  font-family: "Bebas Neue", Arial, sans-serif;
  font-display: auto;
}


//=========================================
//  Цвета
//=========================================

$black: #000000;
$white: #ffffff;

$btn_yellow: #FFE01B;
$btn_yellow_hover: #ECCC00;
$btn_callback: #FF6969;

$bg_black_overlay: rgba(0, 0, 0, .7);
$bg_gray: #F2F2F2;
$bg_black: #343434;

//=======================
// Точки для media-queries
//=======================

$media1180: 1180px;
$media1024: 1024px;
$media980: 980px;
$media768: 768px;
$media640: 640px;
$media560: 560px;


//=======================
// Модификаторы для тайтлов
//=======================

.title--black {
  color: $black;
}

.title--center {
  text-align: center;
}

.title--left {
  text-align: left;
}

.title--white {
  color: $white;
}

.title--black {
  color: $black;
}

.title--margin-bottom {
  margin-bottom: 50px;
}

.title--margin-bottom-40 {
  margin-bottom: 40px;
}