.gallery-block-img-wrapper {
  position: relative;
  padding-bottom: 68%;
  overflow: hidden;
}

.gallery-block-img {
  position: absolute;
  max-width: none;
  max-height: 0;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.gallery-block-bottom {
  margin-top: 15px;

  display: flex;
  justify-content: space-between;
}

.gallery-block-photo-name,
.gallery-block-date {
  @include font_default;
  font-size: 20px;
  line-height: 27px;

  @include media_interval(0, $media560) {
    font-size: 18px;
    line-height: 24px;
  }
}
