.social-card-inner {
  padding: 50px;
  position: relative;
  min-height: 171px;
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 110px;
  height: 60px;
  background: $sprite_url 0px -96px;

  @each $item in ((icon-vk, 0), (icon-ig, -107), (icon-ph, -215), (icon-ml, -330) ) {
    &.#{nth($item, 1)} {
      background-position: #{nth($item, 2)}px -96;
    }
  }
}