.parent-container {
  position: relative;
  top: 0;
  left: 0;
  display: flex;
}

.inner-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.inner-text {
  color: $white;
}

.img-wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 50%;
  z-index: 5;
  overflow: hidden;
}

.inner-img {
  position: absolute;
  max-width: none;
  max-height: 0;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
  background: url("./img/react.jpg");
  background-size: cover;
}

.class--animation-one {
  animation: go-left-right 3s infinite alternate;
}

@keyframes go-left-right {
  from {
    left: 0px;
  }
  to {
    left: calc(100% - 50px);
  }
}

.class--animation-two {
  animation: fall 3s infinite alternate;
}

@keyframes fall {
  from {
    transform: rotate(0) translateX(0);
    opacity: 1;
  }

  to {
    transform: rotate(90deg) translateX(200px);
    opacity: 0;
  }
}
