.flex-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.events-block {
  padding: 70px 0;
}

.events-wrapper {
  display: flex;
  flex-flow: row wrap;
}

.event-item {
  height: 200px;
  @include flex-columns(3, 20px, 20px);
  background: lime;
}
