.function-block {
  padding: 70px 0;
}

.function-block-img-wrapper {
  position: relative;
  padding-bottom: 50%;
  z-index: 5;
  overflow: hidden;
}

.function-block-img {
  position: absolute;
  max-width: none;
  max-height: 0;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}