<div class="@@class">
  <div class="card-wrapper">
    <div class="card" href="@@href">
      <div class="card-img-wrapper">
        <img class="card__img" src="./img/girl.jpg" alt="" />
      </div>

      <div class="card-inner-wrapper">
        <div class="card-title-wrapper">
          <div class="card-title">СЕГОДНЯ ХОДИЛ В КЛУБ ЗАРЯ</div>
        </div>
        <div class="card-description-wrapper">
          <div class="card-description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum
            distinctio quasi culpa eveniet assumenda quia qui molestiae est ea
            odio quos voluptatibus perspiciatis, ipsam impedit tempore ducimus
            omnis deserunt adipisci inventore dicta consectetur...
          </div>
        </div>

        <div class="card-btn-date-wrapper">
          <div class="card-btn-wrapper">
            <a class="btn btn--yellow" href="./blog_detail.html">Перейти к новости</a>
          </div>
          <div class="card-date-wrapper">
            <div class="card__date">26.06.2019</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
