<div class="footer">
  <div class="container">
    <div class="footer-inner-container">
      <div class="footer__content">
        <div class="footer-menu-box">
          <div class="footer__menu">
            <a class="footer__link" href="./index.html">Главная</a>
            <a class="footer__link" href="./contacts.html">Мой блог</a>
            <a class="footer__link" href="./contacts.html">Подробнее обо мне</a>
          </div>
        </div>

        <div class="footer-copyright-box">
          <span class="footer-copyright-footer__item">© 2019, my-site.com</span>
        </div>
      </div>

      <i class="Phone is-animating"></i>
    </div>
  </div>
</div>

