<div class="header">
  <div class="container">
    <div class="header__content">
      <div class="header-logo-box">
          <span class="header__logo"></span>
      </div>
      <div class="header-menu-box">
        <div class="header__menu">
            <a class="header__link" href="./index.html">Главная</a>
            <a class="header__link" href="./blog.html">Мой блог</a>
            <a class="header__link" href="./about.html">Подробнее обо мне</a>
            <a class="header__link" href="./animation.html">Блок анимации</a>
            <a class="header__link" href="./js.html">JS home work</a>
        </div>
      </div>
    </div>
  </div>
</div>